body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
  background-color: #682c0e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuoteBox {
  background-color: #f9e0ae;
  padding: 5px;
  border-radius: 5px;
  width: 60vw;
  max-width: 50rem;
  padding: 3rem;
}
